<app-navbar></app-navbar>
<hr>
<p-card header="{{c['name']}}" subheader="Level: {{c['level']}}">
    <ng-template pTemplate="header">
        <p-image src="../../assets/images/matrix.jpg" alt="Image" width="250"></p-image>
    </ng-template>
    <p-progressBar [value]="percentage">
        <ng-template pTemplate="content" let-value> 
        <span>{{percentage}}%</span>    
        </ng-template>
    </p-progressBar>
    <ng-template pTemplate="footer">
        <div>
            <p-speedDial [model]="items" type="circle" [radius]="80" buttonClassName="p-button-warning"></p-speedDial>
        </div>
        
    </ng-template>
</p-card>




