<p-toolbar 
    styleClass="bg-blue-900 shadow-2" 
    [style]="{
        'background-color': '#80848a',
        'position': 'fixed',
        'top': '0',
        'left': '0',
        'width': '100vw',
        'z-index': '1000',
        'border-radius': '0'
    }">
    
    <ng-template pTemplate="start">

    </ng-template>
    <ng-template pTemplate="center">
        <div class="flex flex-wrap align-items-center gap-3">
            <p style="color: white">Bienvenido {{userName}}</p>
        </div>
    </ng-template>
    <ng-template pTemplate="end">
        <div class="flex align-items-center gap-2">
            <p-avatar image="{{userPicture}}" styleClass="mr-2" size="large" shape="circle" id="avatar"></p-avatar>
        </div>
    </ng-template>
</p-toolbar>


