
.p-fluid .p-field {
    margin-bottom: 1rem;
  }
  
  .p-field label {
    margin-bottom: 0.5rem;
    display: block;
  }
  
  .p-field-checkbox {
    display: flex;
    align-items: center;
  }
  
  .p-field-checkbox label {
    margin-left: 0.5rem;
  }